.perso{
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    background-color: rgb(16, 16, 68);
    opacity: 0.90;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 0%;
}
.foto{
    position: absolute;
    top: 4%;
    border-radius: 2%;
}
.info{
    background-color: slateblue;
    border-radius: 2%;
    font-size: 20%;
    width: 60%;
    height: 70%;
    position: relative;
    
}

.btns2{
    border-radius: .1em;
    opacity: 30%;
    border-width: 0;
    height: 10rem;
    cursor: pointer;
    position: relative;
    top: 4em;
    font-size: 500%;

}

.body1{
    background-color: rgb(16, 16, 68);
}

.bt{
    background-color: #eee;
    border-radius: 10%;
    width: 20%;
    height: 50%;
    position: absolute;
    top: 25%;
}

.bt:hover{
    transform: translateY(-3px);
    cursor: pointer;
}


.btns{
    opacity: 30%;
    height: 20%;
    position: absolute;
    top: 40%;
    font-size: 500%;
}

.btns:hover{
    background-color: gray;
    cursor: pointer;
}

.infosup{
    position: absolute;
    left: 500px;
}

.return{
    position: absolute;
    left: 1000px;
    top: 40px;
    background-color: slateblue;
    border: none;
    border-radius: 10%;
}
.btre{
    background-color: none;
    border: none;
}
