<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="estilos.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
</head>
<body>

    <div class="perso">
        <form action="/next" method="get">
            <input type="submit" class="btns2" style="left: 1220px; top: -20px;" value=">">
        </form>
        <form action="/previous" method="get">
            <input type="submit" class="btns2" style="left: -300px; top: -20px;" value="<">
        </form>
        <div class="info" style="left: -7%; top: 5%;">
            <div class="foto">
                <img src="<%= personaje['images']['md'] %>" alt="picture">
            </div>
            <div class="infosup">
                <h1><%= personaje['name'] %> </h1>
                <p><%= personaje['slug'] %></p>
            </div>
        </div>
    </div>
    <div class="return">
        <form action="/">
            <button type="submit" class="btre"> <h3>Return to main</h3></button>
        </form>
    </div>
        
</body>
</html>
